.greetings-container {
    text-align: left;
    line-height: 30px;
    font-size: 0.9rem;
}

.greetings-container h1 {
    font-weight: 400;
    line-height: 45px;
}

@media screen and (min-width: 435px) {
    .greetings-container {
      font-size: 1rem;
    }
  }

.contactOptions {
    list-style: none;
    display: flex;
    padding: 0;
    padding-top: 7px;
}

.contactOptionsItems {
    padding-right: 30px;
}

.contactOptionsItems a{
    color: #262626;
}