.greetings-container {
    line-height: 30px;
    padding-bottom: 110px;
}

.greetings-container li{
  margin-right: 50px;
  padding: 0;
}

@media screen and (min-width: 435px) {
    .greetings-container {
      font-size: 1rem;
    }
  }
