.contactOptions {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.contactOptionsItems {
    padding: 20px;
}

.contactOptionsItems a{
    color: #262626;
}

.social-icons {
    font-size: 18px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color: #212940;
}

.social-icons:hover {
  color: #324BD9;
}