.about-container {
    display: grid;
    grid-template-rows: 45vh auto auto;
    align-items: center;
    grid-gap: 50px 0;
}

/*INTRO*/

.about-intro {
    grid-row: 1 / 2; 
}

.about-photo img {
    grid-row: 2 / 3;
    width: 100%;
    height: auto;
}

.about-description h2 {
    margin: 0;
    line-height: 40px;
    padding-bottom: 10px;
}


/*DETAIL*/

.about-detail {
    grid-row: 3 / 4;
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 80px 0;
}

.certificate-section h2, .skills h2 {
    margin: 0;
}

.certificate {
    display: flex;
}

.certificate-data {
    font-weight: 300;
}

.skill-description {
    padding-top: 10px;
    padding-bottom: 10px;
}

.skill-tools {
    display: flex;
    justify-content: space-between;
}

.skills li {
    padding-top: 8px;
    padding-right: 8px;
}


