.project-card {
    box-shadow: 0 0 30px #2626261f;
    border-radius: 5px;
    padding: 20px;
    height: 350px;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.project-card p {
    margin-top: 0;
}

.project-card ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.project-card li {
    padding-left: 10px;
    padding-right: 10px;
}