.project-card {
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 10px 0;
}

.card-image img {
   width: 100%;
   height: auto;
   margin: 0;
}

.card-info h1 {
    color: #495057;
    margin: 0;
    
}

.card-button {
    margin-top: 15px;
}




