.home-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 50px 0;
}

.recentWork {
    padding-top: 100px;
}

.greetings {
  grid-row: 1/2;
}

.all-projects {
  grid-row: 2/3;
}

