.contact-container {
  line-height: 30px;
  font-size: 0.9rem;
  text-align: center;
}

.contact-container li{
  margin-right: 50px;
  padding: 0;
  padding-top: 2px;
}

@media screen and (min-width: 435px) {
  .contact-container {
    font-size: 1rem;
  }
}


