/*Main navigation div*/
.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  z-index: 1;
  max-height: 10vh;
}

/*Navbar*/
.navbar {
  display: flex;
  z-index: 1;
}

.logo {
  display: flex;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 60px;
}

.logo img {
  width: 100%;
  height: auto;
  z-index: 1;
  transition: all 0.2s ease-in-out;
  filter: invert(12%) sepia(6%) saturate(4808%) hue-rotate(187deg) brightness(93%) contrast(88%);
}

.logo img:hover {
  filter: invert(25%) sepia(85%) saturate(5669%) hue-rotate(233deg) brightness(91%) contrast(85%);
}

.nav-list {
  display: flex;
  list-style-type: none;
  align-self: center;
}

.link {
  color: #212940;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 15px;
}

.link:hover {
  color: #324BD9;
  font-weight: 500;
}

.active {
  color: #324BD9;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 15px;
}

.menu-responsive {
  position: absolute;
  top: 28px;
  right: 0px;
  left: -75px;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  box-shadow: 0 0 15px #21294053;
}

.icon-menu {
  display: none;
  align-items: center;
  margin-right: 10px;
}

@media screen and (max-width: 913px) {
  .icon-menu{
    display: block;
    position: relative;
  }

  .nav-list{
    display: none;
  }
}