/*Main navigation div*/
.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  z-index: 1;
  max-height: 10vh;
}

/*Navbar*/
.navbar {
  display: flex;
  z-index: 1;
}

.logo {
  display: flex;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 60px;
}

.logo img {
  width: 100%;
  height: auto;
  z-index: 1;
  transition: all 0.2s ease-in-out;
  filter: invert(30%) sepia(16%) saturate(300%) hue-rotate(169deg) brightness(94%) contrast(91%);
  border-style: none;
}

.logo img:hover {
  filter: invert(23%) sepia(13%) saturate(426%) hue-rotate(169deg) brightness(90%) contrast(96%);
}

.nav-list {
  display: flex;
  list-style-type: none;
  align-self: center;
}

.link {
  color: #495057;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 15px;
}

.link:hover {
  color: #343A40;
  font-weight: 500;
}

.active {
  color: #343A40;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 15px;
}

.menu-responsive {
  position: absolute;
  top: 28px;
  right: 0px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #E9ECEF;
  box-shadow: 0 0 15px #4950576a;
}

.icon-menu {
  display: none;
  align-items: center;
  margin-right: 10px;
}

@media screen and (max-width: 913px) {
  .icon-menu{
    display: block;
    position: relative;
  }

  .nav-list{
    display: none;
  }
}