.foot {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 25px;
  padding-top: 0px;
  font-weight: 400;
  align-items: center;
}

.footerName {
  align-self: center;
  margin: 0;
  color: #212940;

}

@media screen and (min-width: 435px) {
  .foot {
    flex-direction:initial;
  }
}