.foot {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 20px;
  margin-top: 50px;
  align-items: center;
  border-top: 1px solid #4950576a;
}

.footerName {
  align-self: center;
  margin: 0;
  color: #495057;

}

@media screen and (min-width: 435px) {
  .foot {
    flex-direction:initial;
    padding-top: 0;
  }
}